<div class="banner">
  <div class="container">
    <div class="header">
      <h2>Crypto Checket</h2>
      <h6>Check all crypto currencies latest update</h6>
    </div>
    <div class="sub-header">
      <marquee
        behavior="scroll"
        direction="left"
        onmouseover="stop()"
        onmouseout="start()"
        loop="infinite"
      >
        <div class="coins-wrapper">
          <ng-container *ngFor="let coin of bannerData">
            <div class="coin-card">
              <img [src]="coin.image" width="100" class="img-fluid" alt="" />
              <div class="coin-body">
                <h5 class="coin-title">
                  {{ coin.symbol | uppercase
                  }}<span class="text-danger"
                    >{{ coin.market_cap_change_percentage_24h }}%</span
                  >
                </h5>
                <p class="coin-currency">
                  {{ coin.current_price | currency : "EUR" }}
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </marquee>
    </div>
  </div>
</div>

<div class="container mt-3"></div>
